/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

/* En-tête */
header {
    /*background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;*/
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #00eaff;
    font-weight: bold;
}


.hero {
    background: url('ph2.jpg') no-repeat center/cover;/*Applique une image de fond (background: url('background.jpg')).*/
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    height: 100vh;  /*pour occuper toute la hauteur de l'écran.*/
    display: flex;
    flex-direction: column;
    justify-content: center;  /*Centre le texte*/
    align-items: center;
    text-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.8);
    
}
.hero h1 {
    font-size: 3em;
    color: #b3dcd6;
}

/* Galerie */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Images de la galerie */
.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Effet zoom au survol */
.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img:hover {
    transform: scale(1.1);
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}